<% 
    # drafts from author
    drafts = WikiApprovalWorkflow.where(
                "status >= ? AND status <= ? AND author_id = ?", 
                WikiApprovalWorkflow.statuses[:draft], 
                WikiApprovalWorkflow.statuses[:rejected], 
                User.current.id)

    draft_entries = WikiApprovalDraft.where(author_id: User.current.id)
    all_entries = (drafts.to_a + draft_entries.to_a).sort_by { |e|
      [e.wiki_page.project.name.downcase, e.wiki_page.title.downcase]
    }
%>
<h3><%= l(:my_wiki_drafts) %> (<%= all_entries.count %>) </h3>
<% if all_entries.any? %>
  <table class="list">
    <thead>
      <tr>
        <th><%= l(:field_project) %></th>
        <th><%= l(:label_wiki_page) %></th>
        <th><%= l(:field_status) %></th>
        <th><%= l(:label_comment) %></th>
        <th><%= l(:field_created_on) %></th>
        <th><%= l(:field_updated_on) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% all_entries.each do |entry| %>
        <% 
          if entry.status == :draft_in_progress
            link = edit_project_wiki_page_path(entry.wiki_page.project, entry.wiki_page.title)
          else
            link = project_wiki_page_path(entry.wiki_page.project.identifier, entry.wiki_page.title, :version => entry.wiki_version_id)
          end
        %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= link_to entry.wiki_page.project, project_path(entry.wiki_page.project.identifier) %></td>
          <td><%= link_to entry.wiki_page.title, link %></td>
          <td><%= l("wiki_approval_workflow.status.#{entry.status}") %></td>
          <td><%= entry.note %></td>
          <td><%= format_time(entry.created_at) %></td>
          <td><%= format_time(entry.updated_at) %></td>
          <td class="buttons"><%= link_to l(:button_view), link, :class => 'icon icon-view' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>