
<% 
if @wiki_approval_data && RedmineWikiApproval.approval_or_draft_enabled?(@project, @wiki_approval_data&.dig(:setting))
    if ((@wiki_approval_data[:latest_public_version] && @wiki_approval_data[:latest_public_version] == @wiki_approval_data[:view_version_id]) ||
        (@page.version == @wiki_approval_data[:view_version_id]))
    -%>
        <% if @page.version == @wiki_approval_data[:view_version_id] && @wiki_approval_data[:latest_public_version] && @wiki_approval_data[:latest_public_version] < @page.version && User.current.allowed_to?(:view_wiki_edits, @project) %>
            <%= link_to rma_icon('wiki-page', l(:wiki_approval_link_release), legacy_text_only: true), 
                        { controller: 'wiki', action: 'show', project_id: @project.identifier, id: @page.title, version: @wiki_approval_data[:latest_public_version] }, 
                        { class: 'icon icon-workflows' } %> 
            
        <% end %>
        <% if @wiki_approval_data[:view_version_id] < @page.version %>
            <%= watcher_link(@page, User.current) %>
        <% end %>
        <% if @wiki_approval_data[:view_version_id] < @page.version && RedmineWikiApproval.view_draft?(@project, @wiki_approval_data&.dig(:setting)) %>
            <%= link_to rma_icon('wiki-page', l(:wiki_approval_link_draft), legacy_text_only: true), 
                        { controller: 'wiki', action: 'show', id: @page.title, version: @page.version }, 
                        { class: 'icon icon-workflows' } %>
        <% end %>
        <% if @wiki_approval_data[:approval] %>
            <span class="badge <%= wiki_approval_badge(@wiki_approval_data[:approval].status) %>" style="bottom: 0px"><%= l("wiki_approval_workflow.status.#{@wiki_approval_data[:approval].status}") %></span>
        <% end %>
    <% end %>

<% end %>
