<% 
  return if @wiki_approval_data.nil?

  if @wiki_approval_data[:approval] && !@wiki_approval_data[:approval]&.published? && RedmineWikiApproval::Settings.approval_enabled?(@project, @wiki_approval_data[:setting])
-%>
    <h3><%= l(:label_wiki_approval_workflow) %></h3>
    <div class="approval">
      <ul>
        <li>
          <%= wiki_approval_status_value(@wiki_approval_data[:approval].status) %> ·
          <%= wiki_approval_time(@wiki_approval_data[:approval].updated_at, format: :relative) %>
          <% diff_link = wiki_approval_diff(approval: @wiki_approval_data[:approval], project: @project, page: @page, view_version_id: @wiki_approval_data[:view_version_id]) %>
          <% if diff_link.present? %>
            · (<%= diff_link %>)
          <% end %>
        </li>
      </ul>
    </div>
    <% if @wiki_approval_data[:approval].status.in?(%w[pending rejected released canceled]) %>
      <%= wiki_approval_users(@wiki_approval_data[:approval], starter: true, note: true, userimage: true, status: true, mouseover: true, userlink: true) %>
    <% end %>
  <% end %>

  <% if @wiki_approval_data[:latest_public_version] && @wiki_approval_data[:latest_public_version] == @wiki_approval_data[:view_version_id] %>
    
    <% content_for :header_tags do %>
      <script>
        document.addEventListener('DOMContentLoaded', function () {

          function hide_wiki_history_tags() {
            // find startTag content, begins inside first
            // only set this tags, without classnames to "none"
            // end searching when wiki content starts

            const start = document.getElementById('content').firstElementChild;
            const end = document.querySelector('div.wiki.wiki-page');

            let current = start.nextElementSibling;

            while (current && current !== end) {
                const next = current.nextElementSibling;

                if ((current.tagName === 'P' && current.classList == '') ||
                    (current.tagName === 'H2' && current.classList == '') ||
                    (current.tagName === 'HR' && current.classList == ''))
                    current.style.display = 'none';

                current = next;
            }
          }

          hide_wiki_history_tags();
        });
      </script>
    <% end %>

  <% end %>



