<div id="wiki_approval_settings">
<%
    @wiki_approval_setting = WikiApprovalSetting.find_or_create(@project.id)
%>

<%= labelled_form_for :setting, @wiki_approval_setting,
                             :url => {:controller => 'wiki_approval_settings',
                             :action => 'update', :project_id => @project, :tab => 'wiki_approval',
                             :partial => 'wiki_approval_settings/update',
                             :setting_id => @wiki_approval_setting.id} do |f| %>
    <%= error_messages_for 'wiki_approval_setting' %>
    <fieldset class="box tabular settings">
      <legend><%= l(:label_settings) %></legend>
      <%= wiki_approval_checkbox_field(:wiki_approval_settings_comment, value: @wiki_approval_setting.wiki_comment_required, field_name: :wiki_comment_required) %>
      <%= wiki_approval_checkbox_field(:wiki_approval_settings_content_draft, value: @wiki_approval_setting.wiki_content_draft, field_name: :wiki_content_draft) %>
      <% if ActiveModel::Type::Boolean.new.cast(RedmineWikiApproval.safe_setting(:wiki_approval_settings_sidebar_project)) == true %>
        <%= wiki_approval_select_field(:wiki_approval_settings_sidebar_status, 
                                  value: @wiki_approval_setting.wiki_sidebar_status,
                                  field_name: :wiki_sidebar_status,
                                  html_options: { multiple: true, size: 6, class: 'multiselect wide' },
                                  options: wiki_approval_sidebar_status_select_options) %>
      <% end %>
      <% settings_templates = RedmineWikiApproval.safe_setting(:wiki_approval_settings_templates) %>
      <% if setting_array_present?(settings_templates) %>
        <%= wiki_approval_select_field(:wiki_approval_settings_templates, 
                                  value: @wiki_approval_setting.wiki_templates,
                                  field_name: :wiki_templates,
                                  html_options: { multiple: true, size: 3, class: 'multiselect wide' },
                                  options: wiki_approval_templates_select_options(settings_templates)) %>
      <% end %>
    </fieldset>
    <fieldset class="box tabular settings">
      <legend><%= l(:label_wiki_approval_workflow) %></legend>
      <%= wiki_approval_checkbox_field(:wiki_approval_settings_draft_enabled, value: @wiki_approval_setting.wiki_draft_enabled, field_name: :wiki_draft_enabled) %>
      <%= wiki_approval_checkbox_field(:wiki_approval_settings_enabled, value: @wiki_approval_setting.wiki_approval_enabled, field_name: :wiki_approval_enabled) %>
      <div style="margin-left: 20px;">
        <%= wiki_approval_checkbox_field(:wiki_approval_settings_required, value: @wiki_approval_setting.wiki_approval_required, field_name: :wiki_approval_required) %>
        <%= wiki_approval_checkbox_field(:wiki_approval_settings_version, value: @wiki_approval_setting.wiki_approval_version, field_name: :wiki_approval_version) %>
      </div>
    </fieldset>
    <%= submit_tag l(:button_update) %>
<% end %>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const mainCheckbox = document.getElementById('wiki_approval_settings_enabled');
    const dependentCheckboxes = [
      document.getElementById('wiki_approval_settings_required'),
      document.getElementById('wiki_approval_settings_version')
    ];

    function toggleDependentCheckboxes() {
      const isDisabled = !mainCheckbox.checked;
      dependentCheckboxes.forEach(cb => {
        cb.disabled = isDisabled;
        if (isDisabled) cb.checked = false;
      });
    }

    mainCheckbox.addEventListener('change', toggleDependentCheckboxes);
    toggleDependentCheckboxes();
  });
</script>
