<fieldset class="box tabular settings"><legend><%= l(:label_settings) %></legend>
  <p>
    <%= content_tag :label, l(:label_wiki_approval_settings_comment) %>
    <%= select_tag 'settings[wiki_approval_settings_comment]',
          options_for_select(wiki_approval_select_options, Setting.plugin_redmine_wiki_approval[:wiki_approval_settings_comment]) %>
  </p>
  <p>
    <%= content_tag :label, l(:label_wiki_approval_settings_content_draft) %>
    <%= select_tag 'settings[wiki_approval_settings_content_draft]',
          options_for_select(wiki_approval_select_options, Setting.plugin_redmine_wiki_approval[:wiki_approval_settings_content_draft]) %>
  </p>
</fieldset>
<fieldset class="box tabular settings"><legend><%= l(:label_wiki_approval_workflow) %></legend>
 <p>
    <%= content_tag :label, l(:label_wiki_approval_settings_draft_enabled) %>
    <%= select_tag 'settings[wiki_approval_settings_draft_enabled]',
          options_for_select(wiki_approval_select_options, Setting.plugin_redmine_wiki_approval[:wiki_approval_settings_draft_enabled]) %>
  </p>
  <p>
    <%= content_tag :label, l(:label_wiki_approval_settings_enabled) %>
    <%= select_tag 'settings[wiki_approval_settings_enabled]',
          options_for_select(wiki_approval_select_options, Setting.plugin_redmine_wiki_approval[:wiki_approval_settings_enabled]),
          id: 'approval_enable' %>
  </p>
  <div style="margin-left: 20px;">
    <p>
      <%= content_tag :label, l(:label_wiki_approval_settings_required) %>
      <%= select_tag 'settings[wiki_approval_settings_required]',
            options_for_select(wiki_approval_select_options, Setting.plugin_redmine_wiki_approval[:wiki_approval_settings_required]),
            id: 'approval' %>
    </p>
    <p>
      <%= content_tag :label, l(:label_wiki_approval_settings_version) %>
      <%= select_tag 'settings[wiki_approval_settings_version]',
            options_for_select(wiki_approval_select_options, Setting.plugin_redmine_wiki_approval[:wiki_approval_settings_version]),
            id: 'approval_version' %>
      <em class="info"><%= t(:text_wiki_approval_settings_version) %></em>
    </p>
  </div>
</fieldset>



<script>
  document.addEventListener('DOMContentLoaded', function() {
    const enableSelect = document.getElementById('approval_enable');
    const dependentSelects = [
      document.getElementById('approval'),
      document.getElementById('approval_version')
    ];

    function toggleDependentSelects() {
      const isDisabled = enableSelect.value === 'false';
      dependentSelects.forEach(select => {
        select.disabled = isDisabled;
        if (isDisabled) {
          select.value = 'false';
        }
      });
    }

    enableSelect.addEventListener('change', toggleDependentSelects);
    toggleDependentSelects();
  });
</script>
