<fieldset class="box tabular settings"><legend><%= l(:label_settings) %></legend>
  <%= wiki_approval_select_field(:wiki_approval_settings_comment) %>
  <%= wiki_approval_select_field(:wiki_approval_settings_content_draft) %>
  <%= wiki_approval_checkbox_field(:wiki_approval_settings_sidebar_project) %>
  <div style="margin-left: 20px;">
    <%= wiki_approval_select_field(:wiki_approval_settings_sidebar_status, 
                                   html_options: { multiple: true, size: 6, class: 'multiselect wide' },
                                   options: wiki_approval_sidebar_status_select_options) %>
  </div>
  <%= wiki_approval_select_field(:wiki_approval_settings_templates, 
                                  html_options: { multiple: true, size: 3, class: 'multiselect wide' },
                                  options: wiki_approval_templates_select_options) %>
</fieldset>
<fieldset class="box tabular settings"><legend><%= l(:label_wiki_approval_workflow) %></legend>
  <%= wiki_approval_select_field(:wiki_approval_settings_draft_enabled) %>
  <%= wiki_approval_select_field(:wiki_approval_settings_enabled) %>
  <div style="margin-left: 20px;">
    <%= wiki_approval_select_field(:wiki_approval_settings_required) %>
    <%= wiki_approval_select_field(:wiki_approval_settings_version) %>
  </div>
</fieldset>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const enableSelect = document.getElementById('wiki_approval_settings_enabled');
    const dependentSelects = [
      document.getElementById('wiki_approval_settings_required'),
      document.getElementById('wiki_approval_settings_version')
    ];

    // Checkbox + Multiselect
    const sidebarCheckbox = document.getElementById('wiki_approval_settings_sidebar_project');
    const sidebarMultiselect = document.getElementById('wiki_approval_settings_sidebar_status');

    function toggleDependentSelects() {
      const isDisabled = enableSelect.value === 'false';
      dependentSelects.forEach(select => {
        select.disabled = isDisabled;
        if (isDisabled) {
          select.value = 'false';
        }
      });
    }

    function toggleSidebarMultiselect() {
      const isChecked = sidebarCheckbox.checked;

      // Checkbox activ → Multiselect disabled + empty
      sidebarMultiselect.disabled = isChecked;

      if (isChecked) {
        // empty value
        Array.from(sidebarMultiselect.options).forEach(opt => {
          opt.selected = false;
        });
      }
    }

    enableSelect.addEventListener('change', toggleDependentSelects);
    sidebarCheckbox.addEventListener('change', toggleSidebarMultiselect);
    toggleDependentSelects();
    toggleSidebarMultiselect();

  });
</script>
