<%= form_with url: { controller: 'wiki_approval', action: 'grant_approval', project_id: @project, page_id: @page.title, version: @page.content.version, step_id: @step.id },
              method: :post,
              remote: true do |f| %>

  <!-- Status Auswahl -->
  <div class="field">
    <%= f.radio_button :status, 'approved' %>
    <%= f.label :status_approved, l('wiki_approval_workflow_steps.step_status.approved') %>
    <%= f.radio_button :status, 'rejected' %>
    <%= f.label :status_rejected, l('wiki_approval_workflow_steps.step_status.rejected') %>
  </div>

  <!-- Kommentar -->
  <div class="field">
    <%= f.text_area :note, rows: 5, cols: 35, placeholder: l(:field_comments), value: @step.note %>
  </div>


  <div class="buttons">
    <%= f.submit l(:button_save), class: 'button-positive' %>
    <%= link_to l(:button_cancel), '#', class: 'button-cancel', onclick: 'hideModal(); return false;' %>
  </div>
<% end %>
