<h2><%= @query.new_record? ? l(:label_wiki_approval_workflow_plural) : @query.name %></h2>

<%= @query.persisted? && @query.description.present? ?
      content_tag('p', @query.description, class: 'subtitle') : '' %>

<%= form_tag(wiki_approval_index_path(project_id: @project&.id), method: :get, id: "query_form") do %>
  <%= render partial: "queries/query_form", locals: { query: @query } %>
<% end %>

<% if @records.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>

  <%= render_query_totals(@query) %>

  <table class="list">
    <thead>
      <tr>
        <%= sort_header_tag('project') %>
        <%= sort_header_tag('title') %>
        <%= sort_header_tag('version') %>
        <%= sort_header_tag('revision') %>
        <%= sort_header_tag('public version') %>
        <%= sort_header_tag('workflow_status') %>
        <%= sort_header_tag('workflow_author_id') %>
        <%= sort_header_tag('workflow_updated_at') %>
        <%= sort_header_tag('workflow_step_status') %>
        <%= sort_header_tag('workflow_step_principal_id') %>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |r| %>
        <% waw = r.current_wiki_aw %>
        <tr>
          <td><%= r.project&.name %></td>
          <td><%= r.title %></td>
          <td><%= waw&.version %></td>
          <td><%= waw&.revision %></td>
          <td><%= waw&.latest_public_version&.version %></td>
          <td><%= waw&.status %></td>
          <td><%= waw&.author&.name %></td>
          <td><%= format_time(waw&.updated_at) %></td>
          <td><%= waw&.approval_steps&.first&.step_status %></td>
          <td><%= waw&.approval_steps&.first&.principal_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <span class="pagination"><%= pagination_links_full @entry_pages, @entry_count %></span>

<% end %>

